@using Blazorit.Client.Shared.Routes.ECommerce.Domain;
@implements IBlazoritComponent

<div class="@(((IBlazoritComponent)this).GetClass("bit-shopcart-in-drawer"))">
    <div style="height:75%; overflow-x:auto;">
        <AntList DataSource="@CartState.State.CartList">
            <ChildContent Context="item">
                <ListItem NoFlex>
                    <ShopcartItem Item="@item" IsVisibleShopcartDrawer="@IsVisibleShopcartDrawer" IsVisibleShopcartDrawerChanged="@IsVisibleShopcartDrawerChanged" />
                </ListItem>
            </ChildContent>
        </AntList>
    </div>
  
    <div style="height:25%;">
        <Divider />
        <GridRow Justify="space-between">
            <GridCol Flex=@("none")>
                    <span style="font-weight:bold; font-size:2em;">Subtotal:</span>
            </GridCol>
            <GridCol Flex=@("none")>
                    <span style="font-size:2em;">@CartState.State.TotalPrice.ToString("N0")</span>
            </GridCol>           
        </GridRow>

        <Divider />

        <GridRow Gutter="20">
            <GridCol Span="12">
                <Button OnClick="@(async () => await ShopcartButton_ClickHandler())" Block>SHOPCART</Button>
            </GridCol>
            <GridCol Span="12">
                <Button Type="@ButtonType.Primary" Block OnClick="@(async () => await CheckoutButton_ClickHandler())">CHECKOUT</Button>
            </GridCol>
        </GridRow>     
    </div>
    
    <Spin Class="bit-local-absolute" Spinning="@isSpinning" />
</div>





