@using Blazorit.Client.Pages.ECommerce.Domain.LayoutComponents.HeaderToolbars.Comps.Shopcarts
@implements IBlazoritComponent

<div class="@(((IBlazoritComponent)this).GetClass("bit-cart-button"))">
    <Badge Count="@Count">
        <Button Ghost Type="@ButtonType.Text" @onclick="_ => OpenCartDrawerAsync()">
            <Icon Type="shopping-cart" Theme="outline" /> Cart 
        </Button>
    </Badge>

    <Drawer Visible="@isVisibleCartDrawer" Placement="right" Title='("Shopcart")' OnClose="_ => CloseCartDrawer()" Width="400">
        <Shopcart @bind-IsVisibleShopcartDrawer="@isVisibleCartDrawer" />
    </Drawer>
</div>