@attribute [Route(ConstPage.SHOPCART)]
@implements IBlazoritComponent
@using Blazorit.Client.Shared.Routes.ECommerce.Domain
@using Blazorit.Client.Pages.ECommerce.Domain.Components.ShopcartPage.Comps.ShopcartItems

<PageTitle>Shopcart</PageTitle>

<div class="@(((IBlazoritComponent)this).GetClass("bit-shopcart-page"))">
    <h1>ShopCart</h1>
    <GridRow>
        <GridCol Span="16">
            <Card>
                <AntList DataSource="@CartState.State.CartList" >
                    <ChildContent Context="item" >
                        <ListItem NoFlex>
                            <ShopcartItem Item="@item" />
                        </ListItem>
                    </ChildContent>
                </AntList>
            </Card>
        </GridCol>
        <GridCol Offset="1" Span="7">
            <Affix OffsetTop="10">
                <Card>
                    <GridRow Justify="space-between">
                        <GridCol Flex=@("none")>
                            <span class="total-quantity">Items: @CartState.State.StrTotalQuantity</span>                                              
                        </GridCol>
                        <GridCol Flex=@("none")>
                            <span class="total-quantity">@CartState.State.StrTotalPrice</span>
                        </GridCol>
                    </GridRow>
                    <Divider />
                    <GridRow Justify="space-between">
                        <GridCol Flex=@("none")>
                            <span class="total-price">Subtotal</span>
                        </GridCol>
                        <GridCol Flex=@("none")>
                            <span class="total-price">@CartState.State.StrTotalPrice</span>
                        </GridCol>
                    </GridRow>
                    <Divider  Dashed />
                    <GridRow>
                        <GridCol Span="24">
                            <Button Size="@ButtonSize.Large" Type="@ButtonType.Primary" Block OnClick="@(async () => await OrderButton_ClickHandlerAsync())">Go to checkout</Button>
                        </GridCol>
                    </GridRow>
                </Card>

            </Affix>

        </GridCol>
    </GridRow>  
 </div>