@using Blazorit.SharedKernel.Infrastructure.Repositories.Models.ECommerce.Domain.Deliveries
@using Blazorit.Client.Models.ECommerce.Domain.Deliveries
@implements IBlazoritComponent

<div class="@(((IBlazoritComponent)this).GetClass("bit-delivery"))">
    <GridRow>
        <GridCol>
            <h4>Select delivery method</h4>
            <Select TItem="DeliveryMethod"
                    TItemValue="DeliveryMethod"
                    DataSource="@deliveryMethods"
                    @bind-Value="@SelectedMethod"
                    LabelName="@nameof(DeliveryMethod.Method)"
                    Placeholder="Choose delivery method"
                    OnSelectedItemChanged="@(async (method) => await DeliveryMethod_SelectedItemChangedHandlerAsync(method))">
            </Select>
        </GridCol>
    </GridRow>

    @if (SelectedMethod.EnterAddress && deliveryAddresses.Count() > 0)
    {
        <Divider />
        <GridRow>
            <GridCol>
                <RadioGroup @bind-Value="@choosenDeliveryAddressRadio">
                    <Radio Value="@DeliveryAddressRadio.ExistingDeliveryAddresses">
                        Your delivery addresses
                    </Radio>
                    <Radio Value="@DeliveryAddressRadio.NewDeliveryAddresses">
                        New delivery address
                    </Radio>
                </RadioGroup>
            </GridCol>
        </GridRow>
    }

    @if (choosenDeliveryAddressRadio == DeliveryAddressRadio.ExistingDeliveryAddresses || !SelectedMethod.EnterAddress)
    {
        <Divider />
        <GridRow>
            <GridCol>
                <Select TItem="DeliveryAddress"
                    TItemValue="DeliveryAddress"
                    DataSource="@deliveryAddresses"                    
                    @bind-Value="@SelectedAddress"
                    LabelName="@nameof(SelectedAddress.Address)"
                    Placeholder="Choose delivery address"
                    >
                </Select>
            </GridCol>
        </GridRow>
        <GridRow Style="margin-top:2em;">
            <GridCol Span="24">
                <h4>Selected address</h4>
                <TextArea ReadOnly @bind-Value="@SelectedAddress.Address" AutoSize />
            </GridCol>
        </GridRow>
    }
    else if (choosenDeliveryAddressRadio == DeliveryAddressRadio.NewDeliveryAddresses && SelectedMethod.EnterAddress)
    {
        <Divider />
        <GridRow>
            <GridCol Span=24>
                <TextArea ShowCount MaxLength="200" @bind-Value="@deliveryTextArea" Placeholder="Enter your new address"/>
            </GridCol>
        </GridRow> 
        <GridRow>
            <GridCol Span="24">
                <Button Block OnClick="@(async (_) => await UseNewAddress_ButtonClickAsync())">Use this address</Button>
            </GridCol>
        </GridRow>
    }
</div>