@implements IBlazoritComponent

<div class="@(((IBlazoritComponent)this).GetClass("bit-product-card"))">
<GridRow>
    @*Main image of product*@
    <GridCol>
        <Card>
            <h2>@Data.Name</h2>
            <h3>Description</h3>
            <p>@Data.Description</p>
            <div>
                <span>@Data.Sku</span>
            </div>
        </Card>
    </GridCol>
    @*Price and buttons*@
    <GridCol>
        <Card>
            <label>Цена</label>
            <p>@Data.Price.ToString("N")</p>
        </Card>       
    </GridCol>
</GridRow>

</div>