@implements IBlazoritComponent

<div class="@(((IBlazoritComponent)this).GetClass("bit-product-card"))">
<GridRow>
    @*Main image of product*@
    <GridCol>
        <Card>
            <h2>@Data.Name</h2>
            <h3>Description</h3>
            <p>@Data.Description</p>
            <div>
                <label>SKU</label>    
                <span>@Data.Sku</span>
            </div>
            <div>
                    <img src="@Data.MainPictureLinkPart" />
            </div>
            <div>
                    @foreach (var item in Data.PicturesLinkParts) {
                        <img src="@item.LinkPart" />
                    }
                    
            </div>
        </Card>
    </GridCol>
    @*Price and buttons*@
    <GridCol>
        <Card>
            <label>Цена</label>
            <p>@Data.Price.ToString("N")</p>
        </Card>       
    </GridCol>
</GridRow>

</div>