@implements IBlazoritComponent

<div class="@(((IBlazoritComponent)this).GetClass("bit-product-card"))">
<GridRow>
    @*Main image of product*@
    <GridCol>
        <Card>
            <h2>@Data.Name</h2>
            <h3>Description</h3>
            <p>@Data.Description</p>
            <div>
                <label>SKU</label>    
                <span>@Data.Sku</span>
            </div>
             <div>
                <Image PreviewVisible="false"
                        Width="200"
                        Src="@Data.MainPictureLinkPart"
                        OnClick="@(() => { visible = true; })" />
                <div style="display:none;">
                    <ImagePreviewGroup @bind-PreviewVisible="visible">
                        @foreach (var item in Data.PicturesLinkParts) {
                            <Image src="@item.LinkPart" />
                        }
                    </ImagePreviewGroup>
                </div>
            </div>
        </Card>
    </GridCol>
    @*Price and buttons*@
    <GridCol>
        <Card>
@*            <div>
                <GridCol Span="4">
                    <Blazorit.Client.Pages.ECommerce.Domain.Components.AddingCartButtons.AddingCartButtonsComp ProductId="@Data.Id" />
                </GridCol>
            </div>*@
            <div>
                <label>Цена</label>
                <p>@Data.Price.ToString("N")</p>
                    @if (IsProductToCartEnabled)
                    {
                        <Button OnClick=@(async () => await AddToCartButton_ClickHandlerAsync())>Add to cart</Button>
                    }
                    else
                    {
                        <Button OnClick=@(async () => await ShopcartButton_ClickHandler())>Cart</Button>
                    }

            </div>
        </Card>       
    </GridCol>
</GridRow>
</div>

@code {
    int count = 0;
    bool visible = false;
}