@using Blazorit.Client.Providers.Concrete.Identity
@using Blazorit.Client.Shared.Routes.ECommerce
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthenticationStateProvider
@implements IBlazoritComponent

<div class="@(((IBlazoritComponent)this).GetClass("bit-header-toolbar"))">
    <GridRow Justify="space-between">
        <GridCol Flex="1" Class="header-toolbar-accout tool">
            <Space Direction="DirectionVHType.Horizontal">
                <ChildContent>
                    <SpaceItem>
                        <AuthorizeView Roles="admin_role" Context="admin_context">
                            <Authorized>
                                <Button Ghost Danger OnClick=@(() => Navigation.NavigateTo(ConstPage.ADMIN_INDEX))>
                                    Admin
                                </Button>
                            </Authorized>
                            <NotAuthorized>
                                <AuthorizeView Context="user_context">
                                    <Authorized>
                                        <Button Ghost Type="@ButtonType.Text" OnClick=@(() => Navigation.NavigateTo(ConstPage.USER_ACCOUNT))>
                                            Account
                                        </Button>
                                    </Authorized>
                                    <NotAuthorized>
                                        <Button Ghost Type="@ButtonType.Dashed" OnClick=@(() => Navigation.NavigateTo(ConstPage.USER_LOGIN))>
                                            Sign in
                                        </Button>
                                    </NotAuthorized>
                                </AuthorizeView>
                            </NotAuthorized>                            
                        </AuthorizeView>
                    </SpaceItem>
                    <SpaceItem>
                        <AuthorizeView>
                            <Authorized>
                                <Button Ghost Type="@ButtonType.Text" OnClick=@(() => Logout())>
                                    Sign out
                                </Button>
                            </Authorized>
                            <NotAuthorized>
                                <Button Ghost Type="@ButtonType.Dashed" OnClick=@(() => Navigation.NavigateTo(ConstPage.USER_REGISTR))>
                                    Sign up
                                </Button>
                            </NotAuthorized>
                        </AuthorizeView>
                    </SpaceItem>
                </ChildContent>            
                </Space>  
        </GridCol>            

        <GridCol Flex="1" Class="header-toolbar-cart tool" Style="float:right;">
            <Space Direction="DirectionVHType.Horizontal">
                <Split>
                    <Divider Type="DirectionVHType.Vertical" Class="nav-divider" />
                </Split>
                <ChildContent>
                    <SpaceItem>
                        <Button Ghost Type="@ButtonType.Text">
                            Favorite
                        </Button>
                    </SpaceItem>
                    <SpaceItem>
                         <Button Ghost Type="@ButtonType.Text">
                             ShopCart
                         </Button>
                    </SpaceItem>
                </ChildContent>
            </Space>
        </GridCol>
    </GridRow>   
</div>
