@using Blazorit.Client.Providers.Concrete.Identity
@using Blazorit.Client.Pages.ECommerce.Identity
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="@GetClass("header-toolbar")">
    <GridRow Justify="space-between">
        <GridCol Flex="1" Class="header-toolbar-accout tool">
            <Space Direction="DirectionVHType.Horizontal">
                <ChildContent>
                    <SpaceItem>
                        <AuthorizeView>
                            <Authorized>
                                <Button OnClick=@(() => Navigation.NavigateTo(ConstPage.ACCOUNT))>
                                    Account
                                </Button>
                            </Authorized>
                            <NotAuthorized>
                                <Button Type="@ButtonType.Dashed" OnClick="NavigateToLogin">
                                    Sign in
                                </Button>
                            </NotAuthorized>
                        </AuthorizeView>
                    </SpaceItem>
                    <SpaceItem>
                        <AuthorizeView>
                            <Authorized>
                                <Button OnClick=@(() => Logout())>
                                    Sign out
                                </Button>
                            </Authorized>
                            <NotAuthorized>
                                <Button Type="@ButtonType.Dashed" OnClick=@(() => Navigation.NavigateTo(ConstPage.REGISTR))>
                                    Sign up
                                </Button>
                            </NotAuthorized>
                        </AuthorizeView>
                    </SpaceItem>                 
                </ChildContent>            
                </Space>  
        </GridCol>            

        <GridCol Flex="1" Class="header-toolbar-right tool" Style="float:right;">
            <Space Direction="DirectionVHType.Horizontal">
                <Split>
                    <Divider Type="DirectionVHType.Vertical" Class="nav-divider" />
                </Split>
                <ChildContent>
                    <SpaceItem>
                        <Button Type="@ButtonType.Text">
                            SomeItem
                        </Button>
                    </SpaceItem>
                    <SpaceItem>
                         <Button Type="@ButtonType.Text">
                            SomeItem
                         </Button>
                    </SpaceItem>
                </ChildContent>
            </Space>
        </GridCol>
    </GridRow>   
</div>
     



@code {
    [Parameter]
    public string? Name { get; set; }

    private string GetClass(string classes) {
        if (string.IsNullOrEmpty(Name)) {
            return classes;
        }

        return $"{Name} {classes}";
    }

    private void NavigateToLogin() {
        Navigation.NavigateTo(ConstPage.LOGIN);
    }

    private async Task Logout() {
        var authProvider = AuthenticationStateProvider as CustomAuthStateProvider;
        if (authProvider == null) return;
        await authProvider.LogoutAuthenticationStateAsync();
        Navigation.NavigateTo("/", true);
    }



    ////CssBuilder classHeaderToolboar = BlazorComponentUtilities.CssBuilder.Default("header-toolbar").AddClass("");    
}
